html {
    font-family: monospace;
    text-transform: lowercase;
    background-color: #222222;
    color: #F7F7F7;
}

#gameContainer {
    display: grid;
    justify-content: center;
    height: 80vh;
    align-content: center;
    background-color: inherit;
}

#player1, #player2 {
    font-size: 25px;
    width: 10vw;
    margin-left: 10vw;

}

#announcementsContainer {
    display: grid;
    text-align: center;
    justify-content: center;
}

#announcement {
    padding: 35px;
    background-color: transparent;
    color: rgb(237, 176, 255);
    font-size: 2rem;
}

#gameBoard {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 600px;
    height: 600px;
}

.field {
    display: grid;
    height: 200px;
    width: 200px;
    border: #515151 solid 1px;
    background-color: #3B3B3B;
    color: #ffffff;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    font-size: 120px;
}

.field:hover {
    background-color: #3b3b3b8e;
}

#buttons {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

button {
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: lowercase;
    font-family: monospace;
    border: 1px solid white;
    border-radius: 5px;
}

button:hover{
    opacity: 0.5;
}